/laravel/.phpunit.cache
/laravel/node_modules
/laravel/public/build
/laravel/public/hot
/laravel/public/storage
/laravel/storage/*.key
/laravel/storage/data-sources
!/laravel/storage/data-sources/.gitkeep
/laravel/vendor
/laravel/.env
/src.env.backup
/src.env.production
/src.phpunit.result.cache
/srcHomestead.json
/srcHomestead.yaml
/srcauth.json
/srcnpm-debug.log
/srcyarn-error.log
/.fleet
/.env
/theme/build
/theme/public
!/theme/public/assets
/laravel/public/_theme/
/.volumes/
/.volumes*
/.tmp/
node_modules
/*-cron.lock
*:Zone.Identifier
