// Theme
@import '../fonts/google-nunito-sans/nunito-sans.css';
@import 'theme';

// Components
@import 'flatpickr';

@import '../../node_modules/@agavazov/fontawesome-pro/css/fontawesome.css';
@import '../../node_modules/@agavazov/fontawesome-pro/css/regular.css';
@import '../../node_modules/@agavazov/fontawesome-pro/css/solid.css';

@import '../../node_modules/quill/dist/quill.snow.css';
@import "../../node_modules/select2/src/scss/core";

@import '../../node_modules/glightbox/dist/css/glightbox.css';

// Custom app style
@import 'app/plugins/dropzone';
@import 'app/plugins/quill';
@import 'app/plugins/select2';

@import 'app/animations';
@import 'app/form';
@import 'app/scrollbar';
@import 'app/table';
@import 'app/nav-content';
@import 'app/sortable';

// Modules
@import '../modules/ambulance-patrol/ambulance-patrol';

// Misc (to be moved)
.nav-link-text {
  font-weight: $lead-font-weight;
}

.dropdown-indicator-icon {
  .fa-angle-up {
    transition: 0.5s ease transform;
  }

  &[aria-expanded="true"] .fa-angle-up {
    transform: rotate(180deg);
  }
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 1px rgba(255, 0, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 14px rgba(255, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 1px rgba(255, 0, 0, 0.4);
  }
}

.pulse-red {
  animation: pulse-red 1.5s ease-out infinite;
}

////
.pulse-btn-danger {
  background-color: rgba(255, 255, 255, 0.95);
  animation: pulse-btn-danger 2.6s ease-in-out infinite;
  transition: background-color 0.4s ease;
}

@keyframes pulse-btn-danger {
  0% {
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 0 0 rgba(255, 100, 100, 0.0);
  }
  40% {
    background-color: rgba(255, 240, 240, 0.98);
    box-shadow: 0 0 0 4px rgba(255, 120, 120, 0.15),
    0 0 8px 2px rgba(255, 120, 120, 0.25);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 0 8px rgba(255, 100, 100, 0.0);
  }
}

///

.pulse-btn-primary {
  background-color: rgba(255, 255, 255, 0.95);
  animation: pulse-btn-primary 2.6s ease-in-out infinite;
  transition: background-color 0.4s ease;
}

@keyframes pulse-btn-primary {
  0% {
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 0 0 rgba(100, 150, 255, 0.0);
  }
  40% {
    background-color: rgba(240, 245, 255, 0.98);
    box-shadow: 0 0 0 4px rgba(100, 150, 255, 0.15),
    0 0 8px 2px rgba(100, 150, 255, 0.25);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 0 8px rgba(100, 150, 255, 0.0);
  }
}
