.nav-content {
  @extend .flex-nowrap;

  .nav-item {
    @extend .align-content-center;
    margin-left: .3rem;
    margin-right: .3rem;
    font-size: 0.8rem;
    font-weight: bold;

    .nav-link {
      @extend .text-body-tertiary;
      @extend .py-3;
      @extend .lh-1;
      @extend .text-nowrap;
      @extend .text-truncate;

      max-width: 18rem;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom-color: $primary-dark;
      }
    }
  }
}
